<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="Lista Estudiantes DE">
                <h:panelGrid columns="2" id="hpgDatos">
                    <p:outputLabel value="Nombre:" />
                    <p:outputLabel  value="#{sustenciaController.temp.dato.nombre }"/>
                    <p:outputLabel value="Edad:" />
                    <p:outputLabel value="#{sustenciaController.temp.dato.edad}" />
                    <p:outputLabel value="Universidad:" />
                    <p:outputLabel value="#{sustenciaController.temp.dato.universidad}" />
                </h:panelGrid>
                <h:panelGrid columns="6">
                    <p:commandButton value="Primero" update="hpgDatos"
                                     action="#{sustenciaController.irAlPrimero()}"/>                    
                    <p:commandButton value="Anterior" update="hpgDatos"
                                     action="#{sustenciaController.irAlAnterior()}" />
                    <p:commandButton value="Siguiente" update="hpgDatos"
                                     action="#{sustenciaController.irAlsiguiente()}"/>
                    <p:commandButton value="Último" update="hpgDatos"
                                     action="#{sustenciaController.irAlUltimo()}"/>
                    <p:commandButton value="Intercalar" update="@all" action="#{sustenciaController.unirListas()}"/>
                    <p:commandButton value="Ordenar Alfabeticamente" update="@all" action="#{sustenciaController.ordenarAlfabeticamente()}"/>

                </h:panelGrid>
            </p:panel>
        </h:form>
    </h:body>
</html>
