<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Gestión Lista Estudiantes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="Lista Estudiantes DE">
                <h:panelGrid columns="2" id="hpgDatos">
                    <p:outputLabel value="Nombre:" />
                    <p:outputLabel  value="#{listaEstudiantesControllerDE.temp.dato.nombre}"/>
                    <p:outputLabel value="Edad:" />
                    <p:outputLabel value="#{listaEstudiantesControllerDE.temp.dato.edad}" />
                    <p:outputLabel value="Universidad:" />
                    <p:outputLabel value="#{listaEstudiantesControllerDE.temp.dato.universidad}" />

                </h:panelGrid>
                <h:panelGrid columns="4">
                    <p:commandButton value="Primero" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.irAlPrimero()}"/>  

                    <p:commandButton value="Anterior" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.anterior()}"/>
                    <p:commandButton value="Siguiente" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.irAlsiguiente()}"/>
                    <p:commandButton value="Último" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.irAlUltimo()}"/>
                    <p:commandButton value="Eliminar" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.eliminarNodo()}"/>
                    <p:commandButton value="Invertir" update="hpgDatos"
                                     action="#{listaEstudiantesControllerDE.invertirLista()}"/> 
                    <p:commandButton value="Ordenar por Impares" update="@all"
                                     action="#{listaEstudiantesControllerDE.ordenarImpares()}"/>


                </h:panelGrid>

                <h:panelGroup id="hpgCrear">
                    <p:commandButton value="Nuevo"  update="hpgCrear" 
                                     rendered="#{!listaEstudiantesControllerDE.verNuevo}"
                                     action="#{listaEstudiantesControllerDE.verCrearEstudiante()}"/>



                    <p:panel header="Crear Estudiante" 
                             rendered="#{listaEstudiantesControllerDE.verNuevo}" >
                        <p:outputLabel value="Nombre:" />
                        <p:inputText value="#{listaEstudiantesControllerDE.estudianteAdicionar.nombre}"/>
                        <p:outputLabel value="Edad:" />
                        <p:inputText value="#{listaEstudiantesControllerDE.estudianteAdicionar.edad}"/>
                        <br/>
                        <p:commandButton value="Adicionar al inicio" update="@all"
                                         action="#{listaEstudiantesControllerDE.adicionarAlInicio()}"/>
                        <p:commandButton value="Adicionar al Final" update="@all"
                                         action="#{listaEstudiantesControllerDE.adicionarAlFinal()}"/>

                    </p:panel>

                </h:panelGroup>

                <h:panelGroup id="hpgEliminar">
                    <p:commandButton value="Eliminar Posicion" update="hpgEliminar" action="#{listaEstudiantesControllerDE.verEliminarEstudiantes()}"
                                     rendered="#{!listaEstudiantesControllerDE.verNuevo}"/>
                    <p:panel header="Eliminar posicion"
                             rendered="#{listaEstudiantesControllerDE.verNuevo}">
                        <p:outputLabel value="Ingrese posicion a eliminar"/>
                        <p:inputText value="#{listaEstudiantesControllerDE.lista.posicion}"/>
                        <p:commandButton value="Eliminar" update="@all" action="#{listaEstudiantesControllerDE.eliminarPosicion()}"/>


                    </p:panel>

                </h:panelGroup>


                <p:commandButton value="Ordeanar" 
                                 action="#{listaEstudiantesControllerDE.encontrarEdad()}" update="hpgDatos"/>

                <h:panelGroup id="hpgMayor">
                    <p:commandButton value=" eliminar por mayores " update="hpgMayor" action="#{listaEstudiantesControllerDE.verSuperiores()}"
                                     rendered="#{!listaEstudiantesControllerDE.verNuevo}"/>
                    <p:panel header="ordenar por mayor"
                             rendered="#{listaEstudiantesControllerDE.verNuevo}">
                        <p:outputLabel value="Ingrese edad para eliminar "/>
                        <p:inputText value="#{listaEstudiantesControllerDE.lista.edadMayor}"/>
                        <p:commandButton value="Eliminar mayores" update="@all" action="#{listaEstudiantesControllerDE.mayoresAlNumero()}"/>


                    </p:panel>

                </h:panelGroup>

            </p:panel>




        </h:form>
    </h:body>
</html>
