<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Hola compañeros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <p:growl id="grIngreso"/>

                <h:panelGrid columns="2">
                    <p:commandButton value="Lista DE"  update="@all" 
                                     action="case1" />
                    <p:commandButton value="Lista SE"  update="@all" 
                                     action="case2" />
                </h:panelGrid>
            </h:form>
        </center>
    </h:body>
</html>
